.eta-directions {
  height: 453px;
  width: 468px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(229, 215, 192);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1%; */
  margin-left: 1%;
}

.map-icon-placement {
  position: absolute;
  top: 0;
  right: -19.5px;
  height: 39px;
  width: 39px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(229, 215, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-eta-directions {
}

.eta {
}

.directions {
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tags p {
  background-color: cornflowerblue;
  padding: 1px;
  margin: 2px;
  border-radius: 4px 4px 4px 4px;
}

.aliases {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aliases p {
  background-color: coral;
  padding: 1px;
  margin: 2px;
  border-radius: 4px 4px 4px 4px;
}
