.eta-directions {
  height: 453px;
  width: 468px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(229, 215, 192, 0.95);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1%; */
  margin-left: 1%;
}

.map-icon-placement {
  position: absolute;
  top: 0;
  right: -19.5px;
  height: 39px;
  width: 39px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(229, 215, 192, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-eta-directions {
}

.eta {
}

.directions {
}
