.filter {
  /* width: 468px;
  height: 168px; */
  width: 200px;
  height: 200px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(240, 208, 122);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-left: 1%;
}

.map-pinned-icon-placement {
  position: absolute;
  top: 0;
  right: -19.5px;
  width: 39px;
  height: 39px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(240, 208, 122);
  display: flex;
  align-items: center;
  justify-content: center;
}
