.Home {
  padding-top: 1%;
}

.title-search-location {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 98vw; */
  justify-content: space-evenly;
  padding: 2%;
}

.eta-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
