.search {
  height: 61px;
  width: 508px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(126, 154, 236, 0.95);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-icon-placement {
  position: absolute;
  top: 0;
  left: -19.5px;
  height: 39px;
  width: 39px;
  border-radius: 11px 11px 11px 11px;
  background: rgba(126, 154, 236, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-search {
}
